{% extends 'dashboard/admin/base.html' %}
{% load static %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item">داشبورد ادمین</li>
        <li class="breadcrumb-item">محصولات</li>
        <li class="breadcrumb-item active" aria-current="page">
            ویرایش محصول
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<!-- Card -->
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
        <h5 class="card-header-title">ویرایش محصول</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
                <div class="row d-flex ">
                  <div class="col-md-6 mb-3">
                    <label for="validationValidInput1">نام محصول</label>
                    {{form.title}}
                </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationValidInput1">slug محصول</label>
                    {{form.slug}}
                    </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationValidInput1">تعداد</label>
                    {{form.stock}}
                  </div>

                  <div class="col-md-6 mb-3">
                    <label for="">وضعیت</label>
                    {{form.status}}
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="">دسته بندی</label>
                    {{form.category}}
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationValidInput1">قیمت</label>
                    {{form.price}}
                </div>
                  <div class="col-md-2 mb-3">
                    <label for="validationValidInput1">درصد تخفیف</label>
                    {{form.discount_percent}}
                  </div>

                  <div class="col-md-12 mb-3">
                    <label for="">توضیح مختصر</label>
                    {{form.brief_description}}
                  </div>

                  <div class="col-md-12 mb-3">
                    <label for="">توضیحات</label>
                    {{form.description}}
                  </div>

                  <div class="col-md-12 mb-3">
                    <label for="validationValidFileInput1">تصویر محصول</label>
                    {{form.image}}
                  </div>

              
            </div>
          
            <div class="card-footer">
                <div class=" d-flex pt-5 justify-content-end">
                    <a class="btn btn-danger ms-3" href="{% url "dashboard:admin:product-delete" pk=object.pk %}">حذف</a>
                    <a class="btn btn-secondary ms-3" href="{% url "dashboard:admin:product-list" %}">بازگشت</a>
                    <button type="submit" class="btn btn-primary ms-3">ثبت تغییرات</button>
                </div>
            </div>
        </div>
    </form>
    <!-- End Body -->
</div>
<!-- End Card -->
{% endblock %}